In [64]:
import csv
import pandas as pd

df = pd.read_csv('1.용인시_상권_정보.csv')
df

,대분류코드,중분류코드,소분류코드,표준산업분류코드,표준산업분류명,행정동코드,행정동명,도로명주소,경도,위도
0,Q,Q09,Q09A10,I56211,일반유흥 주점업,4146551000,풍덕천1동,경기도 용인시 수지구 풍덕천로139번길 6-5,127.096851,37.324611
1,Q,Q01,Q01A08,I56111,한식 음식점업,4146551000,풍덕천1동,경기도 용인시 수지구 풍덕천로190번길 23,127.102347,37.324553
2,Q,Q01,Q01A01,I56111,한식 음식점업,4146352000,구갈동,경기도 용인시 기흥구 갈곡로7번길 8,127.128573,37.272405
3,Q,Q09,Q09A10,I56211,일반유흥 주점업,4146151000,중앙동,경기도 용인시 처인구 금령로71번길 2,127.204204,37.235371
4,Q,Q10,Q10A01,I56111,한식 음식점업,4146359000,보정동,경기도 용인시 기흥구 죽전로 50,127.114245,37.320282
...,...,...,...,...,...,...,...,...,...,...
39901,D,D24,D24A03,NaN,NaN,4146353500,보라동,경기도 용인시 기흥구 용구대로1890번길 16,127.105963,37.257377
39902,L,L01,L01A01,L68221,부동산 자문 및 중개업,4146351500,NaN,경기도 용인시 기흥구 덕영대로 1981-1,127.098493,37.261763
39903,Q,Q01,Q01A03,I56111,한식 음식점업,4146351000,신갈동,경기도 용인시 기흥구 신갈로58번길 8-1,127.106817,37.271945
39904,Q,Q12,Q12A01,I56220,비알콜 음료점업,4146152000,역삼동,경기도 용인시 처인구 중부대로 1294,127.188290,37.235470
39905,D,D05,D05A05,G47416,셔츠 및 기타 의복 소매업,4146359000,보정동,경기도 용인시 기흥구 이현로 34,127.098113,37.308752

In [54]:
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus
import urllib
import requests
import json
import pandas as pd

In [61]:
from geoband.API import *
GetCompasData('SBJ_2012_002', '7', '7.용인시_유동인구.csv')
move = pd.read_csv('7.용인시_유동인구.csv')
move.tail(5)

,STD_YM,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,TMST_06,TMST_07,TMST_08,...,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23,lon,lat
405961,201906,0.02,0.02,0.0,0.0,0.0,0.02,0.05,0.05,0.14,...,0.16,0.11,0.07,0.02,0.04,0.02,0.0,0.02,127.182728,37.306254
405962,201906,0.02,0.02,0.0,0.0,0.0,0.02,0.05,0.07,0.16,...,0.16,0.12,0.07,0.04,0.04,0.02,0.0,0.02,127.182726,37.306705
405963,201906,0.02,0.02,0.0,0.0,0.0,0.02,0.05,0.07,0.16,...,0.16,0.12,0.07,0.04,0.04,0.02,0.0,0.02,127.182723,37.307606
405964,201906,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,...,0.02,0.02,0.00,0.00,0.00,0.00,0.0,0.00,127.182643,37.326535
405965,201906,0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.02,0.02,...,0.04,0.04,0.02,0.02,0.02,0.02,0.0,0.00,127.182637,37.327887

In [93]:
from geoband.API import *
GetCompasData('SBJ_2012_002', '7', '7.용인시_유동인구.csv')
df = pd.read_csv('7.용인시_유동인구.csv')
df.tail(5)

#컬럼 선택
is_201901 = df['STD_YM'] == 201901
#새 변수에 저장
n_201901 = df[is_201901]
#결과 출력
n_201901
#is_201901

idx201901 = df[(df['STD_YM'] != 201901)].index
df = df.drop(idx201901)

df.to_csv('./월별/201901.csv') #csv파일로 생성

In [94]:
from geoband.API import *
GetCompasData('SBJ_2012_002', '7', '7.용인시_유동인구.csv')
df = pd.read_csv('7.용인시_유동인구.csv')
df.tail(5)

#컬럼 선택
is_201902 = df['STD_YM'] == 201902
#새 변수에 저장
n_201902 = df[is_201902]
#결과 출력
n_201901
#is_201901

idx201902 = df[(df['STD_YM'] != 201902)].index
df = df.drop(idx201902)

df.to_csv('./월별/201902.csv') #csv파일로 생성

In [95]:
from geoband.API import *
GetCompasData('SBJ_2012_002', '7', '7.용인시_유동인구.csv')
df = pd.read_csv('7.용인시_유동인구.csv')
df.tail(5)

#컬럼 선택
is_201903 = df['STD_YM'] == 201903
#새 변수에 저장
n_201903 = df[is_201903]
#결과 출력
n_201903

idx201903 = df[(df['STD_YM'] != 201903)].index
df = df.drop(idx201903)

df.to_csv('./월별/201903.csv') #csv파일로 생성

In [96]:
from geoband.API import *
GetCompasData('SBJ_2012_002', '7', '7.용인시_유동인구.csv')
df = pd.read_csv('7.용인시_유동인구.csv')
df.tail(5)

#컬럼 선택
is_201904 = df['STD_YM'] == 201904
#새 변수에 저장
n_201904 = df[is_201904]
#결과 출력
n_201904

idx201904 = df[(df['STD_YM'] != 201904)].index
df = df.drop(idx201904)

df.to_csv('./월별/201904.csv') #csv파일로 생성

In [97]:
from geoband.API import *
GetCompasData('SBJ_2012_002', '7', '7.용인시_유동인구.csv')
df = pd.read_csv('7.용인시_유동인구.csv')
df.tail(5)

#컬럼 선택
is_201905 = df['STD_YM'] == 201905
#새 변수에 저장
n_201905 = df[is_201905]
#결과 출력
n_201905

idx201905 = df[(df['STD_YM'] != 201905)].index
df = df.drop(idx201905)

df.to_csv('./월별/201905.csv') #csv파일로 생성

In [98]:
from geoband.API import *
GetCompasData('SBJ_2012_002', '7', '7.용인시_유동인구.csv')
df = pd.read_csv('7.용인시_유동인구.csv')
df.tail(5)

#컬럼 선택
is_201906 = df['STD_YM'] == 201906
#새 변수에 저장
n_201906 = df[is_201906]
#결과 출력
n_201906

idx201906 = df[(df['STD_YM'] != 201906)].index
df = df.drop(idx201906)

df.to_csv('./월별/201906.csv') #csv파일로 생성

In [37]:
import csv
import pandas as pd

df = pd.read_csv('./월별/201903.csv')
df

,Unnamed: 0,STD_YM,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,TMST_06,TMST_07,...,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23,lon,lat
0,138501,201903,0.03,0.02,0.02,0.01,0.03,0.04,0.10,0.26,...,0.41,0.28,0.18,0.11,0.08,0.07,0.05,0.04,127.017681,37.352568
1,138502,201903,0.04,0.03,0.02,0.02,0.04,0.05,0.13,0.32,...,0.49,0.34,0.22,0.13,0.10,0.08,0.07,0.04,127.018254,37.351219
2,138503,201903,0.03,0.03,0.02,0.02,0.03,0.04,0.12,0.30,...,0.47,0.32,0.21,0.12,0.09,0.08,0.06,0.04,127.018251,37.351669
3,138504,201903,0.07,0.05,0.02,0.02,0.02,0.05,0.11,0.20,...,0.50,0.27,0.16,0.10,0.10,0.07,0.06,0.07,127.018813,37.352122
4,138505,201903,0.07,0.05,0.02,0.02,0.02,0.05,0.12,0.20,...,0.52,0.28,0.16,0.10,0.10,0.07,0.07,0.07,127.021063,37.353483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75055,213556,201903,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,...,0.01,0.01,0.01,0.01,0.00,0.00,0.00,0.00,127.424408,37.112401
75056,213557,201903,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,...,0.01,0.01,0.01,0.01,0.00,0.00,0.00,0.00,127.424407,37.112852
75057,213558,201903,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,127.424407,37.113302
75058,213559,201903,0.00,0.00,0.00,0.00,0.00,0.01,0.02,0.04,...,0.03,0.04,0.03,0.02,0.01,0.01,0.01,0.00,127.424386,37.133584
75059,213560,201903,0.00,0.00,0.00,0.00,0.00,0.01,0.02,0.04,...,0.04,0.04,0.03,0.02,0.01,0.01,0.01,0.00,127.424949,37.133585

In [46]:
df["TMST_00"].mean()

0.8039789501732042

In [38]:
df["TMST_01"].mean()

0.5504004796162519

In [39]:
df["TMST_02"].mean()

0.4139423128162777

In [40]:
df["TMST_03"].mean()

0.3889007460696905

In [41]:
df["TMST_04"].mean()

0.5251253663735078

In [42]:
df["TMST_05"].mean()

1.1459413802289478

In [43]:
df["TMST_06"].mean()

2.5080652811083906

In [44]:
df["TMST_07"].mean()

4.098589528377822

In [45]:
df["TMST_08"].mean()

4.3558359978690495

In [47]:
df["TMST_09"].mean()

3.8393815614179254

In [48]:
df["TMST_10"].mean()

3.9115291766591267

In [49]:
df["TMST_11"].mean()

4.161030242473291

In [50]:
df["TMST_12"].mean()

4.231729949374336

In [51]:
df["TMST_13"].mean()

4.197278976819125

In [52]:
df["TMST_14"].mean()

4.225182120970471

In [53]:
df["TMST_15"].mean()

4.415985078604478

In [54]:
df["TMST_16"].mean()

4.798711564082919

In [55]:
df["TMST_17"].mean()

5.357661204370816

In [56]:
df["TMST_18"].mean()

5.010806155076998

In [57]:
df["TMST_19"].mean()

3.77188555822061

In [58]:
df["TMST_20"].mean()

2.9864765520917476

In [59]:
df["TMST_21"].mean()

2.623882360778098

In [60]:
df["TMST_22"].mean()

1.947400612842968

In [61]:
df["TMST_23"].mean()

1.262952438049257

In [62]:
df["lon"].mean()

127.18658520768987

In [63]:
df["lat"].mean()

37.246541739516985